{% block button %}
<div class="container">
  <p><a href="#A1">Link style A1. This is default link.</a></p>
  <p><a class="read-more" href="#A2">Link style A2.</a></p>
  <p><a class="read-more--small" href="#A3">Link style A3.</a></p>
</div>
{% endblock %}
