{% block navigation %}
<div class="panel-pane pane-block pane-kon-pages-kongehuset-mega-menu pane-kon-pages kongehuset-mega-menu">
  <div class="pane-content">
    <ul class="menu clearfix">
      <li class="first leaf link link__left"><a href="/da/slotte-og-kongeskibet/amalienborg/christian-viis-pala">Christian VII's Palæ</a>
        <div class="mega-menu">
          <div class="node-41235 node node-navigation node-promoted da clearfix">
            <div class="field field-name-field-col-navigation field-type-text-long field-label-hidden">
              <div class="cols mega-menu-cols-2">
                <div class="col col-0 even"><h3><a href="#">Article</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget arcu vel tortor luctus hendrerit feugiat in magna. Maecenas augue odio, placerat et nibh id, imperdiet pharetra neque. Ut ac quam nulla. Donec feugiat porta pellentesque. Praesent laoreet lorem dui, nec vehicula lorem placerat a. Nulla magna dolor, elementum sit amet lacus vel, pellentesque blandit ipsum</p>
                </div>
                <div class="col col-1 odd"><h3><a href="#">Article</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget arcu vel tortor luctus hendrerit feugiat in magna. Maecenas augue odio, placerat et nibh id, imperdiet pharetra neque. Ut ac quam nulla. Donec feugiat porta pellentesque. Praesent laoreet lorem dui, nec vehicula lorem placerat a. Nulla magna dolor, elementum sit amet lacus vel, pellentesque blandit ipsum</p>
                </div>
              </div>
            </div>
            <div class="social-menu">
              <div class="block block-menu" id="block-menu-menu-menu-socialize-header">

                <h2>Menu socialize header</h2>

                  <div class="content">
                    <ul class="menu clearfix">
                      <li class="first last leaf"><a class="active" title="" href="/da">Test</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="logo"><a href="#">logo</a></li>
      <li class="last collapsed link link__right">
        <a href="/da/monarkiet-i-danmark/statsbesog">Statsbesøg</a>
        <div class="mega-menu">
          <div class="node-41233 node node-navigation node-promoted da clearfix">
              <div class="field field-name-field-col-navigation field-type-text-long field-label-hidden">
                <div class="cols mega-menu-cols-4">
                  <div class="col col-0 even">
                      <div>
                        <h3><a href="/da/hkh-kronprinsessens-tale-ved-kvinfos-8-marts-fest-i-vega">H.K.H. Kronprinsessens tale ved KVINFOs 8. marts fest i VEGA</a></h3>
                        <div class="menu-block-wrapper menu-block- menu-name-main-menu parent-mlid-68130 menu-level-1">
                          <ul class="menu clearfix">
                            <li class="first leaf menu-mlid-68136"><a href="/da/menu/fonde--legater/kronprins-frederiks-og-kronprinsesse-marys-fond">Kronprins Frederiks og Kronprinsesse Marys Fond</a></li>
                            <li class="leaf menu-mlid-68133"><a href="/da/menu/presse/pressefotos">Pressefotos</a></li>
                            <li class="last collapsed menu-mlid-68129"><a href="/da/formular-test">Formular test</a></li>
                          </ul>
                        </div>
                      </div>
                  </div>
                  <div class="col col-1 odd">
                    <div>
                      <h3><a href="/da/hkh-kronprinsessens-tale-ved-kvinfos-8-marts-fest-i-vega">H.K.H. Kronprinsessens tale ved KVINFOs 8. marts fest i VEGA</a></h3>
                      <div class="menu-block-wrapper menu-block- menu-name-main-menu parent-mlid-68130 menu-level-1">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-mlid-68136"><a href="/da/menu/fonde--legater/kronprins-frederiks-og-kronprinsesse-marys-fond">Kronprins Frederiks og Kronprinsesse Marys Fond</a></li>
                          <li class="leaf menu-mlid-68133"><a href="/da/menu/presse/pressefotos">Pressefotos</a></li>
                          <li class="last collapsed menu-mlid-68129"><a href="/da/formular-test">Formular test</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col col-2 even">
                    <div>
                      <h3><a href="/da/hkh-kronprinsessens-tale-ved-kvinfos-8-marts-fest-i-vega">H.K.H. Kronprinsessens tale ved KVINFOs 8. marts fest i VEGA</a></h3>
                      <div class="menu-block-wrapper menu-block- menu-name-main-menu parent-mlid-68130 menu-level-1">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-mlid-68136"><a href="/da/menu/fonde--legater/kronprins-frederiks-og-kronprinsesse-marys-fond">Kronprins Frederiks og Kronprinsesse Marys Fond</a></li>
                          <li class="leaf menu-mlid-68133"><a href="/da/menu/presse/pressefotos">Pressefotos</a></li>
                          <li class="last collapsed menu-mlid-68129"><a href="/da/formular-test">Formular test</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col col-3 odd">
                    <div>
                      <h3><a href="/da/hkh-kronprinsessens-tale-ved-kvinfos-8-marts-fest-i-vega">H.K.H. Kronprinsessens tale ved KVINFOs 8. marts fest i VEGA</a></h3>
                      <div class="menu-block-wrapper menu-block- menu-name-main-menu parent-mlid-68130 menu-level-1">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-mlid-68136"><a href="/da/menu/fonde--legater/kronprins-frederiks-og-kronprinsesse-marys-fond">Kronprins Frederiks og Kronprinsesse Marys Fond</a></li>
                          <li class="leaf menu-mlid-68133"><a href="/da/menu/presse/pressefotos">Pressefotos</a></li>
                          <li class="last collapsed menu-mlid-68129"><a href="/da/formular-test">Formular test</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social-menu">
                <div class="block block-menu" id="block-menu-menu-menu-socialize-header--2">
                  <h2>Menu socialize header</h2>
                  <div class="content">
                    <ul class="menu clearfix">
                      <li class="first last leaf"><a class="active" title="" href="/da">Test</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
