.box-user--timeline {
  position: relative;

  &:before {
    @include susy-media(tablet) {
      background: $orange-1;
      bottom: 0;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      width: rem(2px);
      z-index: -1;
    }
  }

  &__header {
    background: $white;
    padding: rem(10px);

    @include susy-media(tablet) {
      padding: rem(50px);
    }

    .box-user--timeline__item {
      display: none;

      &.active {
        display: inline-block;
      }

      .box-user--timeline__picture {
        @include susy-media(tablet) {
          @include gallery(6 of $susy-desktop);
          padding-right: rem(30px);
        }
      }

      .box-user--timeline__description {
        @include susy-media(tablet) {
          @include gallery(6 of $susy-desktop);
          padding-left: rem(30px);
        }
      }
    }
  }

  &__content {
    @include clearfix;
    position: relative;

    .box-user__date {
      padding-bottom: 0;
    }

    .box-user__name {
      padding-top: 0;

      h4 {
        margin: rem(4px 0 0);
      }
    }

    .box-user--timeline__item {
      text-align: center;

      @include susy-media(tablet) {
        align-content: stretch;
        align-items: center;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: rem(50px);
        text-align: right;

        &:nth-child(2n) {
          flex-direction: row;
          padding-left: rem(50px);
          text-align: left;

          .box-user--timeline__description {
            margin-left: rem(20px);
            margin-right: 0;
          }
        }

        .box-user--timeline__description {
          margin-right: rem(20px)
        }
      }

      @include susy-media(tablet) {
        @include gallery(6 of $susy-desktop);
        width: 50%;

        .box-user__picture {
          position: relative;

          &:before {
            border-top: 1px solid $orange-1;
            content: '';
            position: absolute;
            right: rem(-60px);
            top: rem(61px);
            width: rem(60px);
            z-index: -1;
          }

          &:after {
            background: $orange-1;
            border-radius: 100%;
            content: '';
            height: rem(20px);
            position: absolute;
            right: rem(-61px);
            top: rem(51px);
            width: rem(20px);
          }
        }

        &:nth-child(2n) {
          margin-top: rem(30px);

          .box-user__picture {
            &:before {
              left: rem(-66px);
              right: auto;
            }

            &:after {
              left: rem(-66px);
              right: auto;
            }
          }
        }

        &:nth-child(2) {
          margin-top: rem(60px);
        }

        &:nth-child(2n + 1) {
          margin-top: rem(-30px);
        }

        &:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }

  &__time {
    position: relative;
    text-align: center;

    &--border:before {
      border: 1px dashed $orange-1;
      content: '';
      height: rem(1px);
      left: 0;
      position: absolute;
      right: 0;
      top: rem(16px);
      width: 100%;
      z-index: -1;
    }

    h4 {
      background: $gray-e9;
      color: $orange-1;
      display: inline-block;
      font-size: rem(22px);
      margin-top: 0;
      padding: rem(5px 10px);
    }
  }
}
