// Style table

table {
  margin-bottom: rem(20px);
  max-width: 100%;
  width: 100%;

  > tbody > tr > td,
  > tbody > tr > th,
  > tfoot > tr > td,
  > tfoot > tr > th,
  > thead > tr > td,
  > thead > tr > th {
    border-top: rem(1px) solid $gray-dd;
    line-height: 1.42857;
    padding: rem(8px);
    vertical-align: top;
  }

  > thead {
    > tr {
      > th {
        border-bottom: rem(2px) solid $gray-dd;
        vertical-align: bottom;
      }
    }
  }

  > tbody {
    > tr:nth-of-type(2n+1) {
      background-color: $gray-f9;
    }
  }
}
